@page
@model PlayList.Pages.PersonasModel
@{
}

<h1>Soy la pagina de Personas</h1>

<div class="card col-6">
    <div class="card-body">
        <div>
            <label>Saludo 1</label>
            <input class="form-control" asp-for="Saludo1" />
        </div>
        <div>
            <label>Saludo 2</label>
            <input class="form-control" asp-for="Saludo2"/>
        </div>

    </div>
</div>